<ng-container *ngIf="sortedData$ | async as sortedData">
  <table mat-table matSort [dataSource]="sortedData" class="mat-table initium-table" (matSortChange)="sortData($event)">
    <!--Имя-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-checkbox (change)="$event ? masterToggle() : null; selected.emit(selection.selected)"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
        > <p class="name-title">Имя</p></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null; selected.emit(selection.selected)"
                      [checked]="selection.isSelected(element)"
        >
          <p class="user-name" (click)="$event.preventDefault(); edit.emit(element)">{{element.name}}</p>
        </mat-checkbox>
      </td>
    </ng-container>
    <!--Фамилия-->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Фамилия</th>
      <td mat-cell *matCellDef="let element">{{element.surname}}</td>
    </ng-container>
    <!--E-mail-->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
    <!--Телефон-->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Телефон</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>
